/*********************************************

DESIGN

*********************************************/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    overflow-x: hidden;
    background-color: #fff !important;
}

:root {
    --color:   #CDFD02;

    --c1dark:  #1A1A1B;
    --c1light: #BAB6B6;
    --c2dark:  #4B4955;
    --c2light: #F1F1F1;
}

/*********************************************

BUTTONS

*********************************************/

.btn {
    background-color: var(--c1dark);
    color: aliceblue;
    width: auto;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    transition: background-color 0.5s ease-in-out;
    line-height: 1.1 !important;
}

.btn:hover{
    background-color: var(--c1light);
    color: var(--c1dark);
}

.btn-alt {
    background-color: var(--c2light);
    color: var(--c2dark);
    width: auto;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    transition: background-color 0.5s ease-in-out;
    line-height: 1.1 !important;
}

.btn-alt:hover{
    background-color: var(--c2dark);
    color: var(--c2light);
}

.btn-mini {
    background-color: var(--c1dark);
    color: aliceblue;
    width: auto;
    height: 30px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    transition: background-color 0.5s ease-in-out;
    line-height: 1.1 !important;
}

.btn-mini:hover{
    background-color: var(--c2dark);
    color: var(--c1light);
}

@media (orientation: portrait) {    
    .btn-mini{
        font-size: 10px;
    }
}

/*********************************************

MODAL

*********************************************/

.modal {
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border-radius: 30px;
    padding: 40px;
    width: 30%;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #222;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*********************************************

TITLES

*********************************************/

.title-super{
    font-size: 70px;
    font-weight: bolder !important;
    line-height: .9 !important;
}

.title {
    font-size: 50px;
    font-weight: bolder !important;
    line-height: .9 !important;
}

.subtitle{
    font-size: 26px;
    font-weight: 500 !important;
    line-height: .9 !important;
    padding-top: 5px;
}

.subtitle i{
    font-size: 30px;
    vertical-align: middle;
}

.title-box{
    text-align: center;
    color: var(--c1dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (orientation: portrait) {
    .title {
        font-size: 30px;
    }

    .subtitle{
        font-size: 20px;
    }

    .title-box{
        text-align: center;
        color: var(--c1dark);
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

/*********************************************

SHORTCUTS

*********************************************/

.space10h  { height: 10px; }
.space20h  { height: 20px; }
.space30h  { height: 30px; }
.space40h  { height: 40px; }
.space50h  { height: 50px; }
.space60h  { height: 60px; }
.space70h  { height: 70px; }
.space80h  { height: 80px; }
.space90h  { height: 90px; }
.space100h { height: 100px; }
.space200h { height: 200px; }

.center-all{
    display: flex;
    align-items: center;
    justify-content: center;
}

.digital-font{
    font-family: "Days One", sans-serif !important;
}

.column-2{
    display: flex;
    gap: 30px;
}

@media (orientation: portrait) {
    .column-2{
        flex-direction: column;
        gap: 0;
    }
}

/*********************************************

INPUTS

*********************************************/

.input {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}

.input-icon i {
    font-size: 20px;
    color: var(--c6);
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--c6);
}

input[type="email"]:focus {
    outline: none;
    border-color: var(--c6);
}

/*********************************************

LOADING

*********************************************/

#loading {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loading-overlay { background-color: rgba(0, 0, 0, 0.9); }
.loading-dark { background-color: var(--c1dark); }
#loading.hide { opacity: 0; }
#loading.show { opacity: 1; }

.lds-ripple {
    display: inline-block;
    line-height: -3 !important;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    box-shadow: 0 0 60px var(--color);
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/*********************************************

FIX

*********************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection { background: var(--color); }
::-moz-selection { background: var(--color); }

a { transition: color 0.5s ease-in-out; text-decoration: underline; cursor: pointer; }
a:hover { color: var(--c1dark); }

body,
html {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

small {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}

strong {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

button {
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    line-height: 1.2 !important;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: none;
    border-width: 1;
}